
Exercise02/.DS_Store
Exercise03/.ipynb_checkpoints/exercise_03-checkpoint.ipynb
Exercise04/.ipynb_checkpoints/exercise_04-checkpoint.ipynb
Exercise05/.ipynb_checkpoints/exercise_05-checkpoint.ipynb
*-checkpoint.ipynb
*.pyc
.DS_Store
.DS_Store
